{{ form_start(form) }}
<div class="container">
    <div class="alert alert-light " role="alert">
        <h4 class="alert-heading"><i class="fa-solid fa-triangle-exclamation"></i> Importante</h4>
        <ul class="pt-2">
            <li><p>Se enviará un correo al profesor que te recomienda para solicitarle que nos proporcione tu carta de recomendación,
                    por lo que debes asegurarte de escribir correctamente su dirección de correo.</p></li>
            <li><p>Al finalizar el envío de este formulario debes de visualizar una pantalla de confirmación. Además, recibirás un correo
                    electrónico a la cuenta que proporcionaste, de no ser así favor de revisar tu carpeta de correos no deseados o comunicarte
                    al correo <mark>webmaster<i class="fa-solid fa-at"></i>matmor.unam.mx</mark> para asegurarte que hayamos recibido tu solicitud.</p></li>
        </ul>
        <hr>
        <p class="mb-0">
            <i class="fa-solid fa-calendar"></i> Fecha límite para realizar tu registro: <mark>18 de agosto de 2023.</mark>
        </p>
    </div>
    <p class="h4">Datos personales</p>
    <div class="row pt-2">
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.nombre, {
                label: 'Nombre',
                attr: {
                    placeholder: 'Nombre'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.paterno, {
                label: 'Apellido paterno',
                attr: {
                    placeholder: 'Apellido paterno'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.materno, {
                label: 'Apellido materno',
                attr: {
                    placeholder: 'Name'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
    </div>
    <div class="row pt-2">
        <p class="text-secondary">La información del campo sexo es requerida con fines de la asignación de habitación ya que es compartida.</p>
        <div class="col col-md-4 col-sm-12  ">
            {{ form_row(form.sexo, {
                label: 'Sexo',
                attr: {
                    placeholder: 'Sexo'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.nacimiento, {
                label: 'Fecha de Nacimiento',
                attr: {
                    placeholder: 'Fecha de nacimiento'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
    </div>
    <div class="row pt-2">
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.mail.first, {
                label: 'Correo electrónico',
                attr: {
                    placeholder: 'Correo'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.mail.second, {
                label: 'Confirma correo electrónico',
                attr: {
                    placeholder: 'Correo'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
    </div>
    <hr>
    <p class="h4">Datos académicos</p>

    <div class="row pt-2">
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.procedencia, {
                label: 'Universidad de procedencia',
                attr: {
                    placeholder: 'Universidad de Procedencia'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.carrera, {
                label: 'Carrera',
                attr: {
                    placeholder: 'Carrera'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.semestre, {
                label: 'Semestre o cuatrimestre',
                attr: {
                    placeholder: 'Semestre'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>

    </div>
    <div class="row pt-2">
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.porcentaje, {
                label: 'Porcentaje de avance (hasta marzo 2023)',
                attr: {
                    placeholder: 'Porcentaje de avance (hasta marzo 2023)'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.promedio, {
                label: 'Promedio',
                attr: {
                    placeholder: 'Promedio'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
    </div>
    <div class="row pt-2 ">

        <div class="col-md-12" >
            <p class="text-secondary">En caso de ser alumno o alumna de la UNAM, adjuntar copia de tu credencial UNAM</p>

            <div class="col-md-6">{{ form_widget(form.credencialFile) }}</div>
            <div class="col-md-6">{{ form_errors(form.credencialFile) }}</div>
        </div>
    </div>


    <div class="row pt-3">
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.profesor, {
                label: 'Profesor(a) que recomienda su participación',
                attr: {
                    placeholder: 'Profesor(a) que recomienda su participación'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.univprofesor, {
                label: 'Universidad del profesor o profesora',
                attr: {
                    placeholder: 'Universidad del profesor'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
    </div>
    <div class="row pt-2">
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.mailprofesor.first, {
                label: 'Correo del profesor o profesora',
                attr: {
                    placeholder: 'Correo del profesor o profesora'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.mailprofesor.second, {
                label: 'Confirma correo del profesor o profesora',
                attr: {
                    placeholder: 'Correo del profesor o profesora'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
    </div>
    <hr>
    <p class="h4">{{ evento }}</p>

    <div class="row pt-2">
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.beca, {
                label: 'Beca',
                attr: {
                    placeholder: 'Beca'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>

        <div class="col col-md-8 col-sm-8" id="div_registro_vegetariano">
            {{ form_row(form.restricciones, {
                label: 'Mencionar si tienes alguna restricción alimenticia',
                attr: {
                    placeholder: 'Mencionar si tienes alguna restricción alimenticia',
                },
                row_attr: {
                    class: 'form-floating',
                    id: 'registro_vegetariano',
                }
            }) }}
        </div>

    </div>

    <div class="row pt-2">
        <p class="text-secondary">Como participante deberá tomar cuatro cursos en total, dos obligatorios (C2 y C3) y dos optativos. Las opciones para elegir los cursos optativos son las siguientes:</p>

        <div class="col col-md-6">
            {{ form_row(form.curso1, {
                label: 'Selecciona tu curso optativo (C2)',
                attr: {
                    placeholder: 'Curso optativo (C2)',
                },
                row_attr: {
                    class: 'form-floating',
                }
            }) }}
        </div>
        <div class="col col-md-6 pt-3">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModalC1">
                Consultar curso
            </button>
        </div>
        <div class="col col-md-6">
            {{ form_row(form.curso2, {
                label: 'Selecciona tu curso optativo (C3)',
                attr: {
                    placeholder: 'Curso optativo (C3)',
                },
                row_attr: {
                    class: 'form-floating',
                }
            }) }}
        </div>
        <div class="col col-md-6 pt-3">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModalC2">
                Consultar curso
            </button>
        </div>
    </div>

    <div class="row pt-2">
        <div class="col col-md-12">

            {{ form_row(form.razones, {
                label: 'Razones por las que desea asistir',
                attr: {
                    placeholder: 'Razones por las que desa asistir',
                },
                row_attr: {
                    class: 'form-floating',
                }
            }) }}
        </div>
    </div>

    <div class="d-grid gap-2 pt-3 mb-2 col-3 mx-auto">
        <button class="btn btn-dark"><h5> <i class="fa-regular fa-paper-plane"></i> {{ button_label|default('Enviar') }}</h5></button>
    </div>
</div>





<!-- Modal C2-->
<div class="modal fade" id="exampleModalC1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Curso optativo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="h6">C2: Números complejos y polinomios, <em class="h6 text-secondary">Jesús Muciño</em></p>
                <p style="text-align: justify;">
                    Resumen:Los números complejos reúnen de forma armónica
                    propiedades de álgebra, geometría y análisis
                    El trabajar con ellos es sencillo debido a
                    que ocurren muchas coincidencias afortunadas.
                    El problema de hallar raíces de polinomios
                    se hace nítido, usando técnicas de números complejos.
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal C2-->
<div class="modal fade" id="exampleModalC2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Curso optativo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="h6">C3: Geometría en matrices y matrices en geometría, <em class="h6 text-secondary">Jesús Hernández</em></p>
                <p style="text-align: justify;">
                    Resumen:
                </p>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


{{ form_widget(form) }}


{{ form_end(form) }}
