<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ evento }}{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

{% if is_granted('ROLE_ADMIN') %}
{% block header %}
    <div class="container">
        <header>
            <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                    <span class="fs-4">{{evento}}</span>
                </a>
                <nav class="d-inline-flex ms-md-auto">
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user-alt"></i>
                                {{ app.user.username ?? 'Anonymous user' }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="{{ path('logout') }}"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <a class="me-3 py-2 text-dark text-decoration-none" href="{{ path('app_login') }}">Iniciar sesión</a>
                    {% endif %}
                </nav>
            </div>
        </header>
    </div>
{% endblock %}
<body>
{% else %}

    <nav class="navbar fixed-top navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">{{ evento }}</a>
        </div>
    </nav>


{% endif %}
{% block body %}{% endblock %}
</body>


</html>
